# ignore python compiled / optimized files
__pycache__/
*.py[cod]

# ignore Azure configuration file
azure_config.py
# ignore SLURM configuration file & temp dir
slurm_config.py
scripts/slurm/tmp

# ignore vscode settigns
.vscode/